*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body
{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 300%;
    background-color: #EEEEEE;
}
h1{
    text-align: center;
    color: black;
    font-size: 30px;
    
}
.phead{
    text-align: center;
    color: rgb(186, 168, 146);
}
.box1{
    height: 60%;
    width: 45%;
    background-color: transparent;
    position: absolute;
    top: 15%;
    left: 5%;
    
}
h2,p{
    text-align: left;
    color: black;
}
.box2{
    height: 60%;
    width: 45%;
    background-image: url(diy-home-decor-faux-concrete-wall-1606250951.jpg);
    position: absolute;
    top: 20%;
    right: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box3{
    height: 60%;
    width: 45%;
    background-color: transparent;
    position: absolute;
    top: 90%;
    right: 5%;
    
}

.box4{
    height: 60%;
    width: 45%;
    background-image: url(ms4bZ8zryQ.jpg);
    position: absolute;
    top: 90%;
    left: 5%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.hmain, .pmain{
    text-align: left;
    color: rgba(8, 173, 233, 0.858);
}
.l1{
    position: absolute;
    top: 3%;
    left: 25%;
    color: black;
    font-weight: 900;
}
.l2{
    position: absolute;
    top: 3%;
    left: 30%;
    color: black;
    font-weight: 900;
}
.l3{
    position: absolute;
    top: 3%;
    left: 35%;
    color: black;
    font-weight: 900;
}
.l4{
    position: absolute;
    top: 3%;
    left: 40%;
    color: black;
    font-weight: 900;
}
.l5{
    position: absolute;
    top: 3%;
    left: 45%;
    color: black;
    font-weight: 900;
}
.l6{
    position: absolute;
    top: 3%;
    left: 90%;
    
}
.l7{
    position: absolute;
    top: 3%;
    left: 93%;
    
}
.l8{
    position: absolute;
    top: 3%;
    left: 96%;
    
}
.box5{
    height: 60%;
    width: 45%;
    background-color: transparent;
    position: absolute;
    top: 165%;
    left: 5%;
    
}
.box6{
    height: 60%;
    width: 45%;
    background-image: url(download.jpg);
    position: absolute;
    top: 165%;
    right: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box7{
    height: 20%;
    width: 100%;
    background-color: rgb(16, 12, 12);
    position: absolute;
    top: 250%;
    left: 0%;
}
.sign1{
    color: white;
    position: absolute;
    left: 5%;
    top: 38%;
}
.tt1{
    color: white;
    background-color: transparent;
    position: absolute;
   right: 25%;
    top: 38%;
    font-weight: 900;
}
button{
    color: white;
    background-color: rgb(234, 108, 18);
    position: absolute;
   right: 16%;
    top: 36%;
    font-weight: 600;
    font-size: 20px;
    font-stretch: ultra-expanded;
    padding: 6px;
}
.box8{
    color: black;
    position: absolute;
    left: 5%;
    top: 275%;
}
.box9{
    color: black;
    position: absolute;
    left: 27%;
    top: 275%;
}
.box10{
    color: black;
    position: absolute;
    left: 49%;
    top: 275%;
}
.boxa{
    color: black;
    position: absolute;
    left: 75%;
    top: 275%;
}
